/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  place-content: center;
  align-items: center;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.case-file-card:hover {
  cursor: pointer;
  transform: translateX(-5px);
  filter: brightness(1.4);
  transition: all .2s ease;
}

.case-file-body{
  min-height: 30em !important;
  height: auto;
  font-family: monospace;
  filter: contrast(.95);
}

.case-file-body:focus{
  border: 2px grey dashed;
  filter: contrast(1.1);

}